URL_PRODUCTION=
PRIVATE_KEY_PRODUCTION=
URL_STAGING=
PRIVATE_KEY_STAGING=
URL_DEVELOPMENT=
PRIVATE_KEY_DEVELOPMENT=

ETHERSCAN_API_KEY=

TX_TYPE_STATIC=
GAS_PRICE_THRESHOLD=
GAS_PRICE_INCREMENT_FACTOR=

# -------------------------- FORGE TESTS -------------------------- #

# Forge forking

FOUNDRY_PROFILE=

# -------------------------- HARDHAT TESTS -------------------------- #

# Gas reporter

REPORT_GAS=

# Hardhat forking

HARDHAT_FORK=

# -------------------------- VARIABLES -------------------------- #

# Deployment variables

INITIAL_OWNER_ADDRESS=
RAIN_ADDRESS=
USDT_ADDRESS=
USDC_ADDRESS=
RAIN_PRICE_SOURCE_ADDRESS=
OSM_MAX_AGE=
BUYBACK_RECEIVER_ADDRESS=
BACKSTOP_CAP=
GOVERNOR_DELAY=
END_WAIT=
GOVERNOR_HANDOVER=

# -------------------------- DEPLOYMENTS -------------------------- #

USDR_ADDRESS=
VAULT_ENGINE_ADDRESS=
COLLATERAL_ADAPTER_ADDRESS=
OSM_ADDRESS=
PRICE_CONVERTER_ADDRESS=
RESERVE_ACCOUNTING_ADDRESS=
SOLVENCY_ENGINE_ADDRESS=
BALANCE_SHEET_ADDRESS=
PSM_ADDRESS=
PRICE_CURVE_ADDRESS=
LIQUIDATION_TRIGGER_ADDRESS=
DUTCH_AUCTION_ADDRESS=
CIRCUIT_BREAKER_ADDRESS=
GOVERNOR_ADDRESS=
END_ADDRESS=
