{
    "arrowParens": "always",
    "bracketSpacing": true,
    "importTypeOrder": [
        "NPMPackages",
        "localImports"
    ],
    "overrides": [
        {
            "files": [
                "*.json",
                ".prettierrc"
            ],
            "options": {
                "parser": "json-stringify"
            }
        }
    ],
    "plugins": [
        "prettier-plugin-package",
        "prettier-plugin-solidity",
        "prettier-plugin-sort-imports"
    ],
    "printWidth": 120,
    "semi": true,
    "singleQuote": false,
    "sortingMethod": "alphabetical",
    "tabWidth": 4,
    "trailingComma": "none",
    "useTabs": false
}
